body {
  background-color: #998d7e;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-link {
  color: blue;
  text-decoration: underline;
  margin: 0.5em;
}

.nav-link:hover {
  cursor: pointer;
}

.hidden {
  display: none;
}

/* #login-content {
  display: flex;
  align-items: center;
  justify-content: center;
} */

#home-content {
  display: flex;
  align-items: center;
  justify-content: center;
}